<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title ERP Middleware - Logs
    meta(name="A page that displays logs of data passing by the server")
    link(defer, rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk=" crossorigin="anonymous")
    link(defer, rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css")
    link(defer, rel="stylesheet" href="/css/style.css")
    link(defer, rel="icon" href="/img/cloud.ico")
    script(defer, src="/libs/socket.io.js")
    script(defer, src="/js/index-controller.js")
  body
    section.hero.is-warning
        div.hero-body
            h1.title [ERP] Log station
            h2.subtitle Get a quick glimpse on data transiting in the middleware module. 
        div.container.is-fullhd
            div.notification#logs
                each log in logs
                    div.card
                        header.card-header
                            div.card-header-title
                                p
                                    span
                                        i.fas.fa-feather-alt
                                        =log.emitter
                                    i.fas.fa-long-arrow-alt-right
                                    span
                                        i.fas.fa-envelope
                                        =log.receiver
                                    span.lmr [#{log.name}]
                            p.card-header-icon
                                span
                                    i.fas.fa-clock
                                    =log.date
                        div.card-content
                            div.content= log.entry