body{
    overflow-y: hidden;
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

.card{
    margin: 2% 0;
}

#logs{
    min-width: 70vw;
    height: 90vh;
    overflow: scroll;
}

#logs::-webkit-scrollbar {
    display: none;
}

i{
    margin: 0 5px;
}

.lmr {
    margin-left: 10px;
}